<html>
    <head>

    </head>
    <template id="entry-template">
        <div class="container" id="entry-container">
            <aside id="entry-image">
                <img src="/assets/placeholder.jpg" alt="Placeholder">
            </aside>
            <article id="entry-details">
                
            </article>
        </div>
    </template>
    <template id="experience-text">
        <details>
            <summary>
                <h3 id="experience-name"><strong>Sample Experience</strong></h3>
                <h3 id="location">Anystate, USA</h3>
                <h3 id="date">January 2000 - Present</h3>
            </summary>
            <hr>
            <div>
                <h4>Key Skills:</h4>
                <ul id="skills-list">
                </ul>
            </div>
            <hr>
            <div id="join-date">
                Paragraph 1
            </div><br>
            <div id="description">
                Paragraph 2
            </div><br>
            <div id="responsibilities">
                Paragraph 3
            </div><br>
            <div id="impact">
                Paragraph 4
            </div><br>
            <div id="learned">
                Paragraph 5
            </div><br>
        </details>
    </template>
    <template id="education-text">
        <details>
            <summary>
                <h3 id="education-name"><strong>Sample Education</strong></h3>
                <h3 id="location">Anystate, USA</h3>
                <h3 id="date">January 2000 - Present</h3>            
            </summary>
            <br>
            <div id="description">
                Sample Description
            </div>
            <hr>
            <div>
                <h4>Notable Classes:</h4>
                <ul id="classes-list">
                </ul>
           </div>
           <hr>
           <div id="takeaway">
                Sample Takeaway
            </div><br>
        </details>
    </template>
    <template id="project-text">
        <details>
            <summary>
                <h3 id="project-name"><strong>Sample Project</strong></h3>
                <h3 id="date">January 2000</h3>            
            </summary>
            <hr>
            <div>
                <h4>Key Skills:</h4>
                <ul id="skills-list">
                </ul>
            </div>
            <hr>
           <div id="workedOnBy">
                Worked On By: 
            </div>
            <div id="description">
                Description: 
            </div>
            <div id="learned">
                What I Learned: 
            </div>
        </details>
    </template>
</html>